<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blue.mote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="BluemoteActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ServiceReceiver">
	    <intent-filter>
	      <action android:name="android.intent.action.PHONE_STATE" />
	    </intent-filter>
		</receiver>
        <activity android:name="ChooseDeviceActivity" android:label="@string/choose_device">
        </activity>
        <activity android:label="@string/choose_function" android:name="ChooseFunctionActivity"></activity>
        <activity android:name="PresentationFunctionActivity" android:label="@string/presentation_function"></activity>
        <activity android:name="VlcFunctionActivity" android:label="@string/vlc_function"></activity>
    </application>

</manifest>